* {
    box-sizing: border-box;
}

@font-face {
    font-family: roboto;
    src: url(../styles/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: luckiest_guy;
    src: url(../styles/fonts/luckiest_guy/LuckiestGuy-Regular.ttf);
}

html {
    font-family: roboto;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

input {
    height: 2em;
}

input[type=text] {
    font-size: 1em;
    border: 0.3em solid rgba(150, 150, 150, 0.5);
    border-radius: 0.3em;

    transition: all 0.2s;
}

input[type=text]:focus {
    border-color: rgb(59, 150, 255);
    outline: 0;
}

main {
    height: 100%;
}

/* Helpers */

/* grid shapes */

.square {
    grid-column: span 3;
    grid-row: span 3;
}
.h-rect {
    grid-column: span 3;
    grid-row: span 2;
}
.v-rect {
    grid-column: span 2;
    grid-row: span 3;
}

/* fixed */

.fixed {
    position: fixed;
}

/* flex */

.flex {
    display: flex;
}


.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

/* flex boxes */

.box1, .box2 {
    margin: 5px;
}

/* list */

.clean-list {
    list-style: none;
}

/* components */

/* layout */

.main-layout {
    max-width: 1024px;
    margin: 0 auto;
}

/* main header */

.main-header {
    background-color: #fefefe;
    box-shadow: 0 0 12px 0 black;
    box-shadow: inset 0 -3px 0 0 rgba(128, 128, 128, 0.5);
    top: 0;
    left: 0;
    right: 0;
    z-index: 25;
}

.header-container {
    padding: 0 1em;
}

/* logo */

.logo {
    font-family: luckiest_guy;
    font-size: 3em;
    transition: all 0.3s;
}

.logo:hover {
    text-shadow: 0 0 20px black;
    color: white;
}

/* hamburger menu */ 

.btn-menu {
    height: 2.5em;
    width: 2.5em;
    font-size: 1em;
    color: rgb(59, 150, 255);
    background-color: #fefefe;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgb(59, 150, 255);
}

/* main nav */

.main-nav {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 59px;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.164);
    flex-direction: column;
    
    opacity: 0;
    overflow: hidden;
    transform: translate(0, -20%);
    transition: all 0.3s;
}

.main-nav li > a {
    font-weight: bold;
    line-height: 3rem;
    text-align: center;
    width: 100%;
    box-shadow: inset 0 -3px 0 0 rgba(128, 128, 128, 0.3);

    background-color: rgba(212, 244, 255, 0.95);
    transition: all 0.3s;
}

.main-nav li > a:hover {
    box-shadow:inset 0 -3px 0 0 rgb(59, 150, 255);
    background-color: white;
    color: rgba(59, 150, 255, 1);
}

/* gallery */

.gallery {
    padding-top: 95px;
    transition: all 0.5s;
}

.gallery > .grid-container, .my-memes > .grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;

    grid-auto-flow: dense;
    gap: 20px;
    padding: 0 20px;
}

.gallery article, .my-memes article {
    background-color: black;
    object-fit: cover;
}

.gallery img, .my-memes img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0.7em 0 rgba(0, 0, 0, 0.7);
    object-fit: fill;
    border-radius: 0.5em;
    cursor: pointer;

    transition: all 0.2s;
}

.gallery img:hover, .my-memes img:hover {
    transform: scale(1.1);
}

/* editor workspace */

.meme-editor {
    transition: opacity 0.5s;
}

.hidden {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.meme-editor > .grid-container {
    padding-top: 95px;
    height: 100%;
    width: 100%;
    gap: 20px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.canvas-container {
    position: relative;
    flex-direction: column-reverse;
    justify-content: space-around;
    grid-column: 1/9;
    grid-row: 1/7;
    margin-right: 10px;
    background-color: rgba(204, 87, 33, 0.445);
    width: 100%;
    height: 100%;
}

canvas {
    background-color: aliceblue;
    outline: 1px solid black;
    cursor: grab;
}

/* actions */

.actions-container {
    border-radius: 5px;
    padding: 20px;
    grid-column: 2/8;
    grid-row: 7/8;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

.canvas-tools {
    /* position: absolute; */
    grid-row: 1/2;
    grid-column: 8/8;
    top: 0;
    flex-direction: column;
    padding: 0.5em;
    border-radius: 10px;
    background-color: azure;
    box-shadow: 0 0.3em 1em 0 rgba(0, 0, 0, 0.4);
}

.btn {
    min-width: 2em;
    height: 2em;
    font-weight: bold;
    font-size: 1em;
    transition: all 0.2s;
}

.canvas-tools .btn {
    margin: 0 0.3em;
    border: none;
    background-color: rgb(135, 206, 250);
    color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.canvas-tools .btn:hover {
    background-color: white;
    color: rgb(59, 150, 255);
}

.main-footer {
    margin-top: 20px;
    height: 150px;
    border-top: 3px solid rgba(128, 128, 128, 0.5);
    background-color: rgba(114, 171, 197, 0.815);
    font-weight: bold;
    color: white;
}

/* mobile */

@media  (max-width: 768px) {
    body.menu-open .main-nav {
        pointer-events: all;
        transform: translateX(0);
        opacity: 1;
        overflow: auto;
        height: 100%;
        box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.25);
    }
    
}

/* small screen */

@media  (min-width: 480px) {
    
}

/* medium screen */

@media  (min-width: 768px) {
    .gallery > .grid-container {
        grid-template-columns: repeat(12, 1fr);
    }

    .meme-editor > .grid-container  {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100%;
    }
    .canvas-container {
        justify-content: center;
        grid-column: 1/4;
        grid-row: 1/2;
    }
    
    .actions-container {
        grid-column: 4 / 5;
        grid-row: 1/2;
        max-width: 300px;
    }

    .canvas-tools {
        position: absolute;
        padding: 0.3em 1em;
        flex-direction: row;
        top: 0;
    }
    .header-container {
        padding: 0 0 0 5px;
    }

    .main-nav {
        pointer-events: all;
        position: initial;
        background-color: initial;
        flex-direction: initial;
        box-shadow: initial;
        transform: translate(0, 0);
        opacity: 1;
    }
    
    .main-nav li > a {
        line-height: 4.6875rem;
        width: 100px;
        border-right: 2px solid rgba(128, 128, 128, 0.2);
        background-color: initial;
        box-shadow: none;
    }
    
    .main-nav li:first-child > a {
        border-left: 2px solid rgba(128, 128, 128, 0.2);
    }

    .btn-menu {
        display: none;
    }
}

/* large screen */

@media  (min-width: 1024px) {
    .canvas-tools {
        padding: 0.3em 3em;
    }
}
